<%= form_for :session, url: session_path do |form| %>
  <div class="field">
    <%= form.label :email,
      class: "label has-text-white is-uppercase is-size-7 has-text-grey-lighter" %>
    <div class="control">
      <%= form.text_field :email, type: 'email', class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password,
      class: "label has-text-white is-uppercase is-size-7 has-text-grey-lighter" %>
    <div class="control">
      <%= form.password_field :password, class: "input" %>
    </div>
  </div>

  <div class="field">
    <p class="control">
      <%= form.submit "It's me, you old fool - let me in.",
          class: "button is-dark is-inverted is-outlined has-text-weight-semibold" %>
    </p>

    <p class="control">
      <%= link_to "I, uh... forgot the password.",
            new_password_path,
            class: "button is-dark" %>
    </p>
    <p class="control">
      <%= link_to "I've never been here before.",
          sign_up_path,
        class: "button is-dark" %>
    </p>
  </div>
<% end %>
