<!DOCTYPE html>
<html>
  <head>
    <title>Dungeonbuddies</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <section class="hero is-fullheight is-dark">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <%= link_to root_path,
                class: 'navbar-item has-text-weight-bold has-text-grey' do %>
                <span class="dnb-mark">🜃</span> D&B
              <% end %>
            </div>
          </div>
        </nav>
      </div>

      <div class="hero-body">
        <div class="container">
          <%= yield %>
        </div>
      </div>

      <div class="hero-foot">
        <div class="container has-text-right has-text-grey">
          <p class="is-size-7">
            Dungeons &amp; Buddies is a collective project by the fine folks from <a href="https://www.codebuddies.org" class="has-text-underline">CodeBuddies</a>.
          </p>
        </div>
      </div>
    </section>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
